@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



button.slick-next::before, button.slick-prev::before {
    color: gray;
    content: '';
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button.slick-next::before {
    content: '\276F'; /* right arrow */
  }
  
  button.slick-prev::before {
    content: '\276E'; /* left arrow */
  }
  button.slick-next {
    right: 50px;
    z-index: 1; 
  }
  
  button.slick-prev {
    left: 0px; 
    z-index: 1; 
  }

  input {
    appearance: none;
  }
  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -8px; /* gutter size offset */
    width: auto;
    
  }
  .my-masonry-grid_column {
    padding-left: 12px; /* gutter size */
    background-clip: padding-box;
    
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
    border-radius: 20px;
  }
  .custom-border {
    border: 1px solid #ddd; /* Adjust the border color as needed */
    border-radius: 0.5rem; /* Adjust the border radius as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Customize the shadow */
  }
  